<div class="d-flex">
    <div class="m-0 pt-5 w-50 bg-img-2"></div>
    <div class="pt-5 w-50" style="background-color: #3CBEEE;">
        <form action="/auth/login" method="POST" class="w-50 p-5" style="min-width: 320px; align-items: center; background-color:#a2d2ff; margin:6rem 3rem auto 8rem;">
            <h3 class="text-center mb-4 font-weight-bold">User Login</h3>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Enter email.." required autofocus>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="input-group">
                    <input type="password" name="password" class="form-control" id="password" placeholder="Enter password.." required>
                    <span class="input-group-text" id="togglePassword">
                        <i class="fas fa-eye"></i>
                    </span>
                </div>
            </div>

            <div class="mt-3">
                <a href="/auth/forgot-password" style="text-decoration:none; margin-left: 8rem;">Forgot Password?</a>
            </div>
            
            <button type="submit" class="btn d-block m-auto mt-4">Submit</button>
            
            <div class="mt-3">
                <span>Don't have an account?</span>
                <a href="/auth/signup" style="text-decoration:none">Register Here</a>
                <br>
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById('togglePassword').addEventListener('click', function() {
        var passwordInput = document.getElementById('password');
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
        } else {
            passwordInput.type = 'password';
        }
    });
</script>
