<div id="sidebar">
	<ul id="sidebar-nav">
		<br>
		<li style="margin-left: 20px;">Welcome <%= currentUser.firstName %></li>
		<li style="margin-left: 4rem; font-style: italic;"> (<%= currentUser.role %>)</li>
		<br>
		<li><a href="/admin/dashboard">Dashboard</a></li>
		<li><a href="/admin/ngo">NGOs</a></li>
		<li><a href="/admin/donor">Donors</a></li>
		<li><a href="/admin/profile">My Profile</a></li>
		<li><a href="/auth/logout" class="btn">Logout</a></li>
	</ul>
</div>