<main>
	<%- include('../partials/ngoSidebar') %>
	
	<div id="main-wrapper">
		<div class="bg-white shadow-sm p-3">
			<span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
			<h5 class="m-0 color-theme d-inline-block">Feedback</h5>
		</div>
		
		<form action="/ngo/feedback/<%=collection._id %>" method="POST" class="border m-4 my-3 p-4 bg-white rounded-2 shadow">
			<div style="margin-left: 10rem;">
                <label for="feedback" style="display: inline-block; width: 300px; text-align: top; font-weight:800; font-size: x-large;">Enter your feedback:</label>
                <br>
                <br>
                <textarea id="feedback" name="feedback" style="display: inline-block; width: 500px; height: 100px;" placeholder="Enter feedback here.."></textarea>
            </div>

			<button type="submit" class="btn w-75 d-block m-auto mt-4">Submit</button>
		</form>
		
	</div>
</main>

<script>
	const d = new Date();
	const dateString = d.getFullYear() + "-" + ("0"+(d.getMonth()+1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2) + "T" + ("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2);
	document.getElementById("time").value = dateString;
</script>